# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Jillian Lim
- Jesus Monsalve
- Seita Goto

## Tasks

1. Find the Cat types
2. Find the tabby Cats article
3. Return the home page

---

## Individual Results & Observations

### Jillian Lim

- Correct
- Correct
- Correct
- The images are pretty big. It might take a bit to realize that the home link was in the logo. Maybe don't have some of the articles disappear at smaller screen sizes.

### Jesus Monsalve

- Correct
- Correct
- Correct
- Maybe include more pictures people that like cats aren't going to read everthing.

### Seita Goto

- Correct
- Correct
- Correct
- Maybe include a fixed width so everything doesn't look so in your face

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No one really had any problems but the large images may end up being an issue because two out of the three people had some minor complaints about it.

### Serious, Causes Frustration, May Hinder Completion

- No one really failed at anything

### Minor, Annoying, Won’t Hinder Completion

- Make sure that people have access to all articles on mobile that they do on larger screens