
.nav-top {
  display: inline-block;
  float: right;
  position: absolute;
  right: 8px;
  top: 50px;
  opacity: 0.95;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  bottom: 0;
  height: 40px;
  overflow: hidden;
  position: relative;
  float: right;
  right: -6px;
  width: 45px;
  top: -3px;

  background: transparent url("../img/navtoggle.svg") no-repeat 0 0;

  text-indent: 100%;
  white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
  background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
  background-position: 0 -80px;
  height: 45px;
}

.nav > ul {
  margin: 0;
  padding: 0.8em 0;

  list-style-type: none;
  font-size: 1.25em;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  padding: 0.5em 10px;

  color: #8cc63e;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #8cc63e;

  color: #fff;
}

.nav-top {
  max-height: 0;
  overflow: hidden;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
  max-height: 21em;
}

.nav-top ul {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  background-color: #fff;
}

.current {
  background-color: #EBFDD2;
}

/*.nav-top li {
  display: inline-block;
  margin-left: 0.5em;
}

.nav-top a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-top a:hover {
  color: #00abc9;
}*/
