<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>{{page.title}} — Cats rock find out why!; Ottawa Canada</title>
  <link href="{{site.baseurl}}/css/cat-facts.css" rel="stylesheet">
  <script src="{{site.baseurl}}/js/modernizr.custom.js"/></script>

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="{{page.url}}">
    <meta property="og:image" content="http://williamshaw.github.io/large-data-website/img/facebook.jpg">
    <meta property="og:site_name" content="Cat Facts">
    <meta property="og:description" content="{{page.description}}">
     <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{page.title}}">
    <meta property="twitter:url" content="{{page.url}}">
    <meta property="twitter:image" content="http://williamshaw.github.io/large-data-website/img/twitter.jpg">
    <meta property="twitter:description" content="{{page.description}}">

    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{page.description}}">
</head>
<body id="top">

  <ul class="skiplinks">
    <li><a href="#main">Skip to primary content</a></li>
    <li><a href="#complementary">Skip to secondary content</a></li>
    <li><a href="#navigation">Skip to navigation</a></li>
  </ul>

  <header class="grid clearfix">
    <div class="unit unit-s-3-4 unit-m-1-3 unit-l-1-3">
        <div class="unit-spacer">
            {% if page.url == '/' %}
              <h1 class="logo-wrapper"><a href="{{site.baseurl}}/" class="logo" rel="home">cat-facts.ca</a></h1>
            {% else %}
              <strong class="logo-wrapper"><a href="{{site.baseurl}}/" class="logo" rel="home">cat-facts.ca</a></strong>
            {% endif %}
        </div>
    </div>

   <div class="unit unit-s-1-4 unit-m-2-3 unit-l-2-3">
      <div class="unit-spacer">
        <a href="#nav" class="nav-btn unit-l-hidden" data-state="inactive">Navigate</a>
        <input type="search" placeholder="Search" class="search-bar unit-s-hidden">
       <nav class="nav nav-top" data-state="collapsed" role="naviation" id="navigation">
          <ul>
             <li><a href="{{site.baseurl}}/cat-health/" class="{% if page.categories == 'cat-types' %}current{% endif %}">Cat Types</a></li>
             <li><a href="{{site.baseurl}}/cat-health/" class="{% if page.categories == 'cat-care' %}current{% endif %}">Cat Care</a></li>
             <li><a href="{{site.baseurl}}/cat-health/">Cats in Culture</a></li>
          </ul>
       </nav>
      </div>
    </div>
  </header>
  <main class="max-width wrapper" role="main" id="main">
    {{content}}

      <div class="push"></div>
  </main>

  <footer class="footer grid">
  <div class="unit unit-s-1 unit-m-1 unit-l-1">
      <p class="contact-info">contact@cat-facts.ca</p>
      <ul class="social-media">
        <li>
          <a href="#" rel="external">
              <img src="{{site.baseurl}}/img/facebook.svg" alt="facebook">
          </a>
        </li>
        <li>
          <a href="#" rel="external">
              <img src="{{site.baseurl}}/img/twitter.svg" alt="twitter">
          </a>
        </li>
        <li>
          <a href="#" rel="external">
            <img src="{{site.baseurl}}/img/youtube.svg" alt="youtube">
          </a>
        </li>
      </ul>
      <nav id="nav" class="nav-bottom" data-state="collapsed" role="naviation" id="nav navigation">
          <ul>
             <li><a href="{{site.baseurl}}/cat-health/" class="{% if page.categories == 'cat-types' %}current{% endif %}">Cat Types</a></li>
             <li class="nav-middle"><a href="{{site.baseurl}}/cat-health/" class="{% if page.categories == 'cat-care' %}current{% endif %}">Cat Care</a></li>
             <li><a href="{{site.baseurl}}/cat-health/">Cats in Culture</a></li>
          </ul>
       </nav>
      <p class="copyright" role="contentinfo">&#169; 2013 cat-facts.ca. All Rights Reserved.</p>
  </div>
  </footer>

  <script src="{{site.baseurl}}/js/main.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45978692-1', 'williamshaw.github.io');
  ga('send', 'pageview');
</script>

<script>
if (!Modernizr.inlinesvg) {
  ;(function () {
    var imgs = document.getElementsByTagName('img')
      , totalImgs = imgs.length
      , i = 0

      for (i = 0; i < totalImgs; i++) {
        imgs[i].src = imgs[i].src.replace(/svg$/, 'png')
      }
  }())
}
</script>

</body>
</html>
