<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>{{page.title}} — Cats rock find out why!; Ottawa Canada</title>
  <link href="{{site.baseurl}}/css/cat-facts.css" rel="stylesheet">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="{{page.url}}">
    <meta property="og:image" content="http://williamshaw.github.io/large-data-website/img/facebook.jpg">
    <meta property="og:site_name" content="Cat Facts">
    <meta property="og:description" content="{{page.description}}">
     <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{page.title}}">
    <meta property="twitter:url" content="{{page.url}}">
    <meta property="twitter:image" content="http://williamshaw.github.io/large-data-website/img/twitter.jpg">
    <meta property="twitter:description" content="{{page.description}}">

    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{page.description}}">
</head>
<body id="top">

  <ul class="skiplinks">
    <li><a href="#main">Skip to primary content</a></li>
    <li><a href="#complementary">Skip to secondary content</a></li>
    <li><a href="#navigation">Skip to navigation</a></li>
  </ul>

  <header class="grid clearfix" role="banner" id="navigation">
    <div class="unit unit-s-3-4 unit-m-1-3 unit-l-1-3">
        <div class="unit-spacer">
            {% if page.url == '/' %}
              <h1 class="logo-wrapper"><a href="{{site.baseurl}}/" class="logo" rel="home">cat-facts.ca</a></h1>
            {% else %}
              <strong class="logo-wrapper"><a href="{{site.baseurl}}/" class="logo" rel="home">cat-facts.ca</a></strong>
            {% endif %}
        </div>
    </div>

   <div class="unit unit-s-1-4 unit-m-2-3 unit-l-2-3">
      <div class="unit-spacer">
        <a href="#nav" class="nav-btn unit-l-hidden" data-state="inactive">Navigate</a>
        <input type="search" placeholder="Search" class="search-bar unit-s-hidden">
       <nav class="nav nav-top" data-state="collapsed" role="naviation" id="navigation">
          <ul>
             <li><a href="{{site.baseurl}}/types/" class="{% if page.categories == 'cat-types' %}current{% endif %}">Cat Types</a></li>
             <li><a href="{{site.baseurl}}/care/" class="{% if page.categories == 'cat-care' %} {% endif %}">Cat Care</a></li>
             <li><a href="{{site.baseurl}}/culture/">Cats in Culture</a></li>
          </ul>
       </nav>
      </div>
    </div>
  </header>
  <main class="max-width" role="main" id="main">
    {{content}}
  </main>

  <footer class="grid">
  <div class="unit unit-s-1 unit-m-1 unit-l-1">
      <p class="contact-info">contact@cat-facts.ca</p>
      <ol class="social-media">
        <li>
          <a href="#" rel="external">
              <img src="{{site.baseurl}}/img/facebook.svg" alt="facebook">
          </a>
        </li>
        <li>
          <a href="#" rel="external">
              <img src="{{site.baseurl}}/img/twitter.svg" alt="twitter">
          </a>
        </li>
        <li>
          <a href="#" rel="external">
            <img src="{{site.baseurl}}/img/youtube.svg" alt="youtube">
          </a>
        </li>
      </ol>
      <p class="copyright" role="contentinfo">&#169; 2013 cat-facts.ca. All Rights Reserved.</p>
  </div>
  </footer>

  <script src="{{site.baseurl}}/js/$.min.js"></script>
  <script src="{{site.baseurl}}/js/toggle-nav.js"></script>

</body>
</html>
