<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>{{page.title}} — Cats rock find out why!; Ottawa Canada</title>
  <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Cat care can be tricky. Don't worry we got you covered!">
</head>
<body>
  <header class="grid clearfix">
    <div class="unit unit-s-3-4 unit-m-1-3 unit-l-1-3">
        <div class="unit-spacer">
           <h1 class="logo-wrapper"><a href="index.html" class="logo">cat-facts.ca</a></h1>
        </div>
    </div>

   <div class="unit unit-s-1-4 unit-m-2-3 unit-l-2-3">
      <div class="unit-spacer">
       <img src="img/navtoggle.svg" class="nav-toggle unit-l-hidden" alt="#">
        <input type="search" placeholder="Search" class="search-bar unit-s-hidden">
       <nav class="nav-top unit-s-hidden unit-m-hidden">
          <ul>
             <li><a href="{{site.baseurl/}}/types/">Cat Types</a></li>
             <li><a href="{{site.baseurl/}}/care/">Cat Care</a></li>
             <li><a href="{{site.baseurl/}}/culture/">Cats in Culture</a></li>
          </ul>
       </nav>
      </div>
    </div>
  </header>

{{content}}

  <footer class="grid">
  <div class="unit unit-s-1 unit-m-1 unit-l-1">
    <p class="contact-info">contact@cat-facts.ca</p>
    <ol class="social-media">
      <li>
        <a href="#">
            <img src="img/facebook.svg" alt="facebook">
        </a>
      </li>
      <li>
        <a href="#">
            <img src="img/twitter.svg" alt="twitter">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/youtube.svg" alt="youtube">
        </a>
      </li>
    </ol>
    <p class="copyright">&#169; 2013 cat-facts.ca. All Rights Reserved.</p>
  </footer>

</body>
</html>
